body {
    background-color: #96A8C8;
}

.header,
main,
footer {
    background-color: white;
    border-radius: 12px;
    border: 1px solid black;
    width: 48%;
    margin: 5px auto;
    padding: 20px;
    font-family: Lucida, Helvetica, sans-serif;
    font-size: 19px;
}

.slogan {
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
}

h1 {
    color: #58718E;
}

.comic-image {
    width: 100%;
}

.comic-title {
    text-align: center;
    font-size: 30px;
}

.comic-alt-text {
    font-style: italic;
    text-align: center;
    font-size: 15px;
}


#comicNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 100%;

}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
    border-radius: 2px;
    background-color: #58718E;
    color: white;
    font-size: 15px;
    padding: 4px;
    margin: 0 10px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
}

li:hover {
    background-color: white;
    color: #58718E;
    cursor: pointer;
}

#comicNav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; 
    padding: 0;
    margin: 0;
}